body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}
ul, li {
    margin: 0;
}
a {
    text-decoration: none;
}
/* header style */
.main-header {
    background: linear-gradient(to right, #43cea2, #185a9d);
    height: 750px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 9999;
    animation-name: sticky;
    animation-duration: 2s;
  }

.site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 40px;
    align-items: center;
}

    @keyframes sticky {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

.site-nav a {
    color: white;
    text-decoration: none;
}

.logo-h1 {
     font-size: 2em;
     border: 20px solid #185a9d;
     padding: 10px;
     font-family: 'Merienda', cursive, Arial;
}#a {
    color: #DC143C;
}
#g {
    color: #00008B;
}
#y {
    color: #FF8C00;
}
#h {
    color: #4B0082;
}
.changelogo {
    border: none;
    font-size: 1.5em;
}
.navbtn {
    display: none;
}
.top-nav li{
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
    font-size: 1.1em;
}
.top-nav a:hover{
    text-decoration: underline;
    opacity: 0.7;
}

@media screen and (max-width: 776px) {
    .site-nav {
        flex-direction: column;
        padding: 0px;
    }
    .navbtn {
        display: block;
        font-size: 1.3em;
        outline: 0;
        border: none;
        padding: 10px;
        background: transparent;
        cursor: pointer;
        color: white;

    }
    .logo {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .logo h1{
        border: none;
        font-size: 1.5em;
    }
    .top-nav {
        display: none;
        padding: 0;
    }
    .active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgb(0, 0, 0, 0.9);
        position: fixed;
        top: 98px;
        padding-top: 10px;
        animation-name: disp;
        animation-duration: 2s;
    }
    
    #first-nav {
        padding-top: 0;
    }
    .top-nav li{
        display: block;
        text-align: center;
        border-bottom: 1px solid lightblue;
        width: 100%;
        padding: 20px 0;

    }

    @keyframes disp{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
/*header style ends here */
#my-information {
    width: 86%;
    height: 750px;
    background-color: white;
    right: 6%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 200px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.hidden-head {
    display: none;
}
#my-image {
    flex-basis: 900px;
    padding: 40px 30px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;

}
#my-image img {
    width: 100%;
    height: auto;
}
#pc-injection {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    line-height: 37em;
}
#pc-injection h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}
#first-info-child {
    width: 80%;
    margin: auto;
    padding-left: 10px;
}
#first-info-child h2 {
    font-size: 3em;
    margin: 0;
}
#first-info-child h3 {
    font-size: 1.1em;
}
#encouragement {
    text-align: justify;
    opacity: 0.6;
}
#first-info-child ul {
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0.6;
    margin-top: 50px;
}
#contact-info i {
    color: blue;
    font-size: 1.3em;
} 
#social-links li{ 
    display: inline-block;
    margin-right: 10px;

}
#social-links i{
      background-color: lightgray;
      padding: 10px;
      font-size: 1.8em;
      color: white;
}

@media screen and (max-width: 776px) {
    #my-information {
        flex-direction: column;
        height: 1000px;
    }
    #my-image {
        flex-basis: 100%;
        overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px 30px 0 30px;
    }

    #pc-injection {
        line-height: 30em;
    }
}
/* my information ends here */

/* my skills starts here */
#my-info-and-skills {
    padding-top: 300px;
    background-color: rgb(255, 247, 247);
    padding-bottom: 50px;
   
}
#my-info-and-skills-child {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}
.my-info-div {
    flex: 1;
    padding: 10px 20px;
}
#my-info-div1 h3{
    font-size: 2em;
}

#my-info-div1 p {
    opacity: 0.8;
    font-size: 1.1em;
}
.see-more {
    background-color:  #185a9d;
    padding: 10px;
    color: white;

}
#my-info-div2 {
    flex: 1;
    background-image: url("../images/team-work.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
#my-info-div2 div {
    width: 43%;
    text-align: center;
    margin: 0;
    color: white;
    background-color: rgb(0, 0, 0, 0.4);
}
#my-info-div2 h3 {
    font-size: 1.3em;
}
#my-info-div2 h4 {
    color: tomato;
}
#html {
    border-bottom: 5px solid lightgray;
    border-right: 5px solid lightgray;

}
#css {
    border-bottom: 5px solid lightgray;
    border-left: 5px solid lightgray;
}
#bootstrap {
    border-top: 5px solid lightgray;
    border-right: 5px solid lightgray;
}
#javascript {
    border-top: 5px solid lightgray;
    border-left: 5px solid lightgray;
}
@media screen and (max-width: 776px) {
    #my-info-and-skills {
        padding-top: 500px;
    }
    #my-info-and-skills-child {
        width: 90%;
        flex-direction: column;
    }
    .my-info-div {
        padding: 10px 0px;
       
    }
    #my-info-div1 {
        margin-bottom: 20px;
    }
    #my-info-div1 h3 {
        font-size: 1.5em;
    }

    #my-info-div2 div {
        width: 48%;
    }
    #my-info-div2 h3 {
        font-size: 1.3em;
    }
}


/* my skills percent ends here*/
/* info div ends here */

/* gallery starts here */
#gallery {
    margin-top: 200px;
}
#gallery h2 {
    text-align: center;
    font-size: 2em;
}
#gallery hr {
    height: 10px;
    width: 200px;
    margin: auto;
    background-color: #185a9d;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 10px;
}
#gallery-cont {
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10px;
}
#gallery-cont div {
    width: 20%;
    height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0;
    margin: 10px;
}
#gallery-cont img {
    width: 100%;
    display: block;
    min-height: 200px;
    cursor: pointer;
}

#img-see-more {
    margin-left: 20%;
}

@media screen and (max-width: 776px) {
    #gallery {
        margin-top: 150px;
    }
    #gallery-cont {
        width: 100%;
        
    }

    #gallery-cont div {
        width: 100px;
        height: 120px;
    }
    #gallery-cont img {
        min-height: 120px;
    }
    #img-see-more {
        margin-left: 10%;
    }
}

.large-images {
    position: fixed;
    background-color: rgb(0, 0, 0,0.7);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    z-index: 99999;
    top: 0;
    
    display: block;
    animation-name: displayLargeImages;
    animation-duration: 2s;
}
@keyframes displayLargeImages{
     0% {
         width: 0;
         height: 0;
     }
  100% {
      width: 100%;
      height: 100%;
  }
}

.large-images img{
    width: auto;
    height: 100%;
    margin: auto;
    display: block;
}
.close-large-images {
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 0;
    border: none;
    padding: 10px;
    color: brown;
    background-color: white;
    font-size: 1.1em;
    font-weight: bold;
}
.close-large-images:hover {
    opacity: 0.7;
}
/* gallery ends here */

#services {
    margin-top: 30px;
}
#services-header {
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    background-image: url('../images/services-back.jpg');
}
#services-header h2 {
    font-size: 2em;
    margin-bottom: 0;
    color: #43cea2;
}
#services-angle {
    font-size: 4em;
    position: relative;
    color: white;
    opacity: 0.6;
    margin-top: 0;
    animation-name: unstopable;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes unstopable {
    0% {
        top: 0;
    }
    50% {
        top: 5px;
    }
    100% {
        top: 0;
    }
}
#services-wrapper {
    width: 100%;
    overflow-x: scroll;
    overflow-y: auto;
}

#services-offer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 35px;
    max-width: 1200px;
    min-width: 1000px;
    margin: auto;

}
@media screen and (min-width: 776px) {
#services-offer::-webkit-scrollbar {
    width: 3px;
  }
  #services-offer::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  #services-offer::-webkit-scrollbar-thumb {
    background: #888; 
  }
}
.services-child {
    text-align: center;
    opacity: 0.8;
    padding: 12px;
}
@media screen and (min-width: 776px) {
.services-child:hover {
    opacity: 1;
    box-shadow: 5px 5px 20px;
    transform: scale(1.1);
    animation-name: services;
    animation-duration: 1s;
}
@keyframes services {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
}
.services-child img {
    width: 250px;
    min-height: 200px;
}
.services-child p {
    color: black;
}

#gettingStarted {
    text-align: center;
    padding: 10px 20px;
    background-color: darkcyan;
    width: 500px;
    position: fixed;
    bottom: 20%;
    z-index: 99999999;
    margin: auto;
    display: none;
    animation-name: gettingStarted;
    animation-duration: 1s;
}
#gettingStarted p{
    font-size: 1.5em;
    color: white;
}
#gettingStarted a {
    display: inline-block;
}
#gettingStarted button {
    font-size: 1.4em;
    color: red;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes gettingStarted {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
 
#learning-sources {
    margin: auto;
    margin-top: 100px;
    padding-top: 20px;
    background-color: #43cea2;
}
#learning-sources h2{
    margin: 10px 20px;
    font-size: 2em;
    font-family: sans-serif;
}
#learning-sources-child {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
#learning-sources-child div{
    margin: 10px;
}
#learning-sources-child img {
    width: 100%;
}

@media screen and (max-width: 776px) {
    #learning-sources h2 {
        font-size: 1.5em;
    }
}
/* learning sources ends here */
footer {
    background-color: #185a9d;
}
#footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
#footer-section div{
     width: 50%;
}
#footer-section form {
    width: 100%;
    padding: 0;
}
#footer-list li {
    list-style: none;
    margin-top: 10px;
    font-size: 1.2em;
}
#footer-list a {
    color: white;
    font-weight: 600;

}
#newsletters-form input {
    margin: 0;
    height: 30px;
    width: 250px;
    padding: 1px;
    font-size: 1em;
    border: 1px solid #43cea2;
    outline: 0;

}
#newsletters-form button {
    margin: 0;
    padding: 1px 5px;
    height: 30px;
    font-size: 1.1em;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
footer p {
    text-align: center;
    color: rgb(0, 0, 0, 0.7);
    font-size: 1.1em;
}

@media screen and (max-width: 776px) {
   #footer-section {
       flex-direction: column;
   }
   #footer-section div {
       width: 100%;
   }
}